<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="md-form">
        <input type="text" class="form-control" id="search" mdbInput [(ngModel)]='listFilter'>
        <label for="search">Search</label>
      </div>
    </div>
  </div>
  <mdb-card cascade="true" narrower="true">
    <!--Card image-->
    <div
      class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
      <h2>Logs</h2>
    </div>
    <!--/Card image-->

    <div class="px-4">

      <div class="table-wrapper">
        <!--Table-->
        <table class="mb-0" mdbTable hover="true">

          <thead>
            <tr>
              <th>
                <a (click)="sortBy('logging_succession')">Action
                  <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                </a>
              </th>
              <th>
                <a (click)="sortBy('login')">Username
                  <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                </a>
              </th>
              <th>
                <a (click)="sortBy('logging_time')">Date and time (UTC)
                  <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                </a>
              </th>
              <th>
                <a (click)="sortBy('ip_addr')">IP
                  <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                </a>
              </th>
              <th>
                <a (click)="sortBy('os')">System
                  <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                </a>
              </th>
              <th>
                <a (click)="sortBy('browser')">Browser
                  <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of filteredLogs">
              <td>{{log.logging_succession ? 'Login success' : 'Login error'}}</td>
              <td>{{log.login}}</td>
              <td>{{log.logging_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
              <td>{{log.ip_addr}}</td>
              <td>{{log.os}}</td>
              <td>{{log.browser}}</td>
            </tr>
          </tbody>
        </table>
        <!--Table-->
      </div>
    </div>
  </mdb-card>
</div>
