<!-- Material form login -->
<div class="mx-auto mt-3 container-mw-40" >

    <mdb-card  class="mt-4">  
      
        <mdb-card-header class="blue-gradient white-text text-center py-4">
          <h5>
            <strong>Add Song</strong>
          </h5>
        </mdb-card-header>    

        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">
      
          <!-- Form -->
          <form class="text-center" style="color: #757575;" [formGroup]="addSongForm" (ngSubmit)="addSong()">
      
            <!-- Title -->
            <div class="md-form">
              <input type="text" id="materialLoginFormTitle" class="form-control" formControlName="title" mdbInput>
              <label for="materialLoginFormTitle">Title</label>
            </div>
    
            <!-- artist -->
            <div class="md-form">
              <input type="text" id="materialLoginFormArtist" class="form-control" formControlName="artist" mdbInput>
              <label for="materialLoginFormArtist">Artist</label>
            </div>
    
            <!-- artist -->
            <div class="md-form">
              <input type="text" id="materialLoginFormGenre" class="form-control" formControlName="genre" mdbInput>
              <label for="materialLoginFormGenre">Genre</label>
            </div>
      
            <div class="file-field big">
              <a class="btn-floating btn-lg blue-gradient darken-2 mt-0 float-left">
                <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
                <input type="file" accept='audio/*' multiple #audioInput (change)="showPreview(audioInput.files)" formControlName="file">
              </a>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files" (change)="showPreview(audioInput.files)" formControlName="file">
              </div>
            </div>
            <audio #audio [src]="source"  class="w-100" controls></audio>
      
            <!-- Sign in button -->
            <button mdbBtn gradient="blue" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
              type="submit">Add song</button>
      
          </form>
          <!-- Form -->
      
        </mdb-card-body>
      
      </mdb-card>

  <mdb-card class="mt-4">
  
    <mdb-card-header class="blue-gradient white-text text-center py-4">
      <h5>
        <strong>Add Songs</strong>
      </h5>
    </mdb-card-header>
  
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
  
      <!-- Form -->
      <form class="text-center mt-4" style="color: #757575;" [formGroup]="addJsonForm" (ngSubmit)="addSongs()">
  
        <div class="file-field big">
          <a class="btn-floating btn-lg blue-gradient darken-2 mt-0 float-left">
            <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
            <input type="file" accept='application/json' multiple #jsonInput (change)="showJson(jsonInput.files)" formControlName="json">
          </a>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload json" (change)="showJson(jsonInput.files)" formControlName="json">
          </div>
        </div>
  
        <!-- Sign in button -->
        <button mdbBtn gradient="blue" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
          type="submit">Add songs</button>
  
      </form>
      <!-- Form -->
  
    </mdb-card-body>
  
  </mdb-card>


  </div>
  <!-- Material form login -->

  <!-- Editable table -->
<div class="container mt-3">
  <h2>Preview</h2>
 <app-song-list [songs]="songs" [admin]="true"></app-song-list>
</div>
