<!-- <div class="row" *ngFor="let batch of songBatches"> -->
<div class="row" *ngIf="songs">
  <div class="card-container col-12 col-md-6 col-lg-4 mb-2" *ngFor="let song of songs; let i = index">
    <!--Front Side-->
    <mdb-flipping-card #card>
      <mdb-card class="front w-100" cascade="true" >
        <!--Card image-->
        <div class="view view-cascade gradient-card-header blue-gradient">
          <a class="rotate-btn" data-card="card-2" (click)="card.toggle()" *ngIf="admin">
            <mdb-icon fas icon="edit"></mdb-icon>
          </a>
          <h4 class="card-header-title">{{ song?.title }}</h4>
        </div>
        <!--/Card image-->
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <mdb-card-text>
            <small class="text-muted">by {{ song?.artist }}</small>
            <small class="text-muted">Genre: {{ song?.genre }}</small>
            <small class="text-muted" *ngIf="admin">Featured: {{ song?.featured }}</small>
          </mdb-card-text>
        </mdb-card-body>
        <audio class="w-100 px-3 mb-4" controls>
          <source [src]="song?.url">
          Your browser does not support audio element.
        </audio>
        <!--/.Card content-->
      </mdb-card>
      <!--/.Front Side-->

      <!--Back Side-->
      <div class="face back tp-box_side tp-box_back" *ngIf="admin">
        <!--Title-->
        <h5 class="card-title">Options
          <i class="fas fa-times rotate-btn" (click)="card.toggle()"></i>
        </h5>
        <form (submit)="card.toggle(); OnChangeEmit(songs[i])">
            <div class="form-row">
                <div class="col-6">
                    <div class="md-form form-sm">
                      <input mdbInput type="text" id="title" class="form-control form-control-sm" [(ngModel)]="songs[i].title" name="title">
                      <label for="title" class="">Title</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="md-form form-sm">
                      <input mdbInput type="text" id="artist" class="form-control form-control-sm" [(ngModel)]="songs[i].artist" name="artist">
                      <label for="artist" class="">Artist</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="md-form form-sm">
                      <input mdbInput type="text" id="genre" class="form-control form-control-sm"  [(ngModel)]="songs[i].genre" name="genre">
                      <label for="genre" class="">Genre</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="md-form form-sm">
                      <mdb-checkbox [(ngModel)]="songs[i].featured" name="featured">Featured</mdb-checkbox>
                    </div>
                </div>
            </div>
            <button mdbBtn gradient="blue" size="sm" rounded="true" block="true" class="my-0 waves-effect z-depth-0" mdbWavesEffect
            type="submit">Update</button>
          </form>
        </div>
      <!--/.Back Side-->
    </mdb-flipping-card>

  </div>
</div>
