<div class="row" *ngFor="let batch of songBatches">
  <div class="card-container col-12 col-md-4" *ngFor="let song of batch">
    <div class="card">
      <mdb-card-body>
        <div>
          <mdb-card-title>
            <h5>{{ song.title }}</h5>
          </mdb-card-title>
          <mdb-card-text><small class="text-muted">by {{ song.artist }}</small></mdb-card-text>
        </div>
        <audio class="w-100" controls>
          <source [src]="song.audioUrl">
          Your browser does not support audio element.
        </audio>
      </mdb-card-body>
    </div>
  </div>
</div>
