.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-container {
  margin-bottom: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-muted {
  display: block;
}
audio {
  position: absolute;
  bottom: 20px;
}