.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-muted {
  display: block;
}
a.rotate-btn {
  position: absolute;
  left: 90%;
  top: 10%;
}
