<div class='container'>
  <form class="md-form">
    <div class="file-field big">
      <a class="btn-floating btn-lg amber darken-2 mt-0 float-left">
        <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
        <input type="file" accept='audio/*' #audioInput (input)="showPreview(audioInput.files)">
      </a>
      <div class="file-path-wrapper">
        <input class="file-path validate" readonly type="text" [placeholder]="file?.name || 'Upload a file'">
      </div>
    </div>
    <div class='file-field big'>
      <a class="btn-floating btn-lg darken-2 mt-0 float-left" [ngClass]="(isRecording)?'red':'green'"
        (click)="recordAudio()">
        <i class="fas fa-microphone"></i>
      </a>
      <div class="file-path-wrapper">
        <!-- <i class="fas fa-stop-circle fa-2x"></i> -->
        <input class="file-path validate" readonly type="text" placeholder="Press microphone to record">
      </div>
    </div>
    <audio #audio class="w-100" [src]="source" controls>
    </audio>
    <button mdbBtn class="centered" type="button" gradient="blue" size="lg" rounded="true" mdbWavesEffect (click)="recognize()" [disabled]="!fileValid">Recognize</button>
  </form>


  <div class="" mdbCollapse #matchedSongContainer="bs-collapse">
    <h2>
      Top match
    </h2>
    <div class="card top-match">
        <mdb-card-body>
          <div>
            <mdb-card-title>
              <h5>{{ topMatchedSong?.title }}</h5>
            </mdb-card-title>
            <mdb-card-text>
              <small class="text-muted">by {{ topMatchedSong?.artist }}</small>
              <small class="text-muted">Genre: {{ topMatchedSong?.genre }}</small>
            </mdb-card-text>
          </div>
          <audio class="w-100" [src]="topMatchedSong?.audioUrl" controls>
            Your browser does not support audio element.
          </audio>
        </mdb-card-body>
      </div>
    <h3>
      Further possible matches
    </h3>
    <app-song-list [songs]="otherMatchedSongs"></app-song-list>
  </div>
</div>
