<div class='container'>
  <form class="md-form">
    <div class="file-field big">
      <a class="btn-floating btn-lg blue-gradient darken-2 mt-0 float-left">
        <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
        <input type="file" accept='audio/*' #audioInput (input)="showPreview(audioInput.files)">
      </a>
      <div class="file-path-wrapper">
        <input class="file-path validate" readonly type="text" [placeholder]="file?.name || 'Upload a file'">
      </div>
    </div>
    <div class='file-field big'>
      <a floating="true" mdbBtn size="lg" mdbWavesEffect class="mt-0" (click)="recordAudio()" [ngClass]="(isRecording)?'ripe-malinka-gradient': 'blue-gradient'">
        <i class="fas fa-microphone" [hidden]="isRecording"></i>
        <mdb-icon fas icon="pause" class="animated pulse infinite" [hidden]="!isRecording"></mdb-icon>
      </a>
      <div class="file-path-wrapper">
        <!-- <i class="fas fa-stop-circle fa-2x"></i> -->
        <input class="file-path validate" readonly type="text" placeholder="Press microphone to record">
      </div>
    </div>
    <audio #audio class="w-100 mt-3 mb-3" [src]="source" controls>
    </audio>
    <button mdbBtn class="centered" type="button" gradient="blue" size="lg" rounded="true" mdbWavesEffect (click)="recognize()" [disabled]="!fileValid">Recognize</button>
  </form>


  <div class="" mdbCollapse #matchedSongContainer="bs-collapse">
    <h2>
      Top match
    </h2>

    <mdb-card class="top-match" cascade="true" >

        <!--Card image-->
        <div class="view view-cascade gradient-card-header blue-gradient">
          <h4 class="card-header-title">{{ topMatchedSong?.title }}</h4>
        </div>
        <!--/Card image-->
    
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->    
          <mdb-card-text>
              <small class="text-muted">by {{ topMatchedSong?.artist }}</small>
              <small class="text-muted">Genre: {{ topMatchedSong?.genre }}</small>
          </mdb-card-text>    
        </mdb-card-body>
        
        <audio class="w-100 px-3 mb-4" [src]="topMatchedSong?.audioUrl" controls>
            Your browser does not support audio element.
          </audio>
        <!--/.Card content-->
    
      </mdb-card>
    <h3>
      Further possible matches
    </h3>
    <app-song-list [songs]="otherMatchedSongs"></app-song-list>
  </div>
</div>
