.switch.square label .lever {
    width: 100px;
    height: 34px;
    border-radius: 0px;
}
.switch.square label .lever:after {
    width: 46px;
    height: 26px;
    border-radius: 0px;
    left: 4px;
    top: 4px;
}

.switch label input[type=checkbox]:checked + .lever:after {
  left: 50px;
}

.switch.blue-white-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #2196f3;
}

.switch.blue-white-switch label .lever  {
  background-color: #ccc;
}

.switch.blue-white-switch label .lever:after {
  background-color: #fff;
}

.switch {
  width: fit-content;
  margin: auto;
}

.switch label {
  cursor: pointer;
}
