.switch.blue-white-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #ffffff;
}

.switch.blue-white-switch label .lever  {
  background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
  background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
  background: linear-gradient(40deg,#45cafc,#303f9f)!important;
}

.switch.blue-white-switch label .lever:after {
  background-color: #ffffff;
}

.switch {
  width: fit-content;
  margin: auto;
}

.switch label {
  cursor: pointer;
}

.container {
  margin-top: 1rem;
}
