<div class='container'>
  <div class="form-row mt-4">
      <div class="form-group col-md-4 mx-auto">
          <mdb-select [(ngModel)]="options.artists" name="artist" [options]="artistOptionsSelect" placeholder="Choose artist" label="Artist" [multiple]="true"></mdb-select>
      </div>
      <div class="form-group col-md-4 mx-auto">
          <mdb-select [(ngModel)]="options.genres" name="genre" [options]="genreOptionsSelect" placeholder="Choose genre" label="Genre" [multiple]="true"></mdb-select>
      </div>
      <div class="form-group col-md-4 mx-auto">
          <mdb-select (selected)="selectFeatured($event)" (deselected)="deselectFeatured($event)" name="featured" [options]="featuredOptionsSelect" placeholder="Choose featured state" label="Featured" [multiple]="true"></mdb-select>
      </div>
  </div>
  <button mdbBtn gradient="blue" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
  type="submit" (click)="search()">Find</button>
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="md-form">
        <input type="text" class="form-control" id="search" mdbInput [(ngModel)]='listFilter'>
        <label for="search">Search</label>
      </div>
    </div>
  </div>
  <h1>Songs</h1>
  <br>
  <app-song-list [songs]="viewSongList" [admin]="true" #songListComponent></app-song-list>
  <app-pagination [elements]="filteredSong" [pageSize]="9" #pagination></app-pagination>
</div>
